/*Set the width to 10% for it to adjust when screen is resized, it is also set to left to stick to the left side with a little allowance*/
#webpage-logo {
    width: 10%;
    height: 7%;
    left: 5px;
    position: absolute;
}

body{
    background-color: #32221c;
}

header{
    display: flex;
    background-color: #462201;
    display: flex;
    width: 100%;
    max-height: fit-content;
    justify-content: right;
    align-items: right;
    float: right;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    background: #462201;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li .nav-DD-link {
    display:block;
    padding: 15px 50.4px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: rgb(220, 64, 21);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li .nav-DD-link:hover {
    background: rgb(215, 91, 8);
}

ul li:hover ul.dropdown {
    display: block;
}

ul li ul.dropdown :hover{
    background: rgb(180, 74, 4);
}